.container p {
    display: block;
    padding: 10px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 50%;
}

/* any div inside .demo, but not if its class row */
.demo div:not(.row) {
    border: 3px dashed #4f806d;
}

/* This does similar things: divs inside .row inside .demo */
/* .demo .row div {
    border: 3px dashed red;
} */
