<nav class="nav nav-tabs navbar-light bg-light">
  <!-- Attribute directive allow you to modify attributes based on TS -->
  <!-- routerLinkActive is the first one we'll see.  It sets class attribute. -->
  <a routerLink="home" routerLinkActive="active" class="nav-item nav-link">Home</a>
  <a routerLink="about" routerLinkActive="active" class="nav-item nav-link">About</a>
  <a routerLink="secret" routerLinkActive="active" class="nav-item nav-link">Secret</a>
  <a routerLink="summary" routerLinkActive="active" class="nav-item nav-link">Summary</a>
  
</nav>